  [
    {
      "_id": "55dc1b65148118a2434a4c44",
      "__v": 0,
      "creationTime": "2015-08-25T07:38:13.060Z",
      "creator": {
        "avatar": "",
        "nickname": "",
        "_id": "55c1cb6a2383077524436002"
      },
      "images": [
        "http://younion.oss-us-west-1.aliyuncs.com/1eddce26d58841f6a702c23515c7c563/IMG_20150826_103512-1865747830.jpg"
      ],
      "point": 0,
      "location": {
        "geo": [
          0,
          0
        ]
      },
      "desc": "It's me, my first chatroom",
      "name": "First chatroom",
      "memberCount": 2,
      "id": "55dc1b65148118a2434a4c44",
      "stared": true
    },
    {
      "_id": "55dc336b2d4504d24ad74b24",
      "__v": 0,
      "creationTime": "2015-08-25T09:20:43.272Z",
      "creator": {
        "avatar": "",
        "nickname": "",
        "_id": "55c1cb6a2383077524436002"
      },
      "images": [],
      "point": 0,
      "location": {
        "geo": [
          0,
          0
        ]
      },
      "desc": "It's me, my first chatroom",
      "name": "Thrid chatroom",
      "memberCount": 1,
      "id": "55dc336b2d4504d24ad74b24",
      "stared": false
    }
  ]
