  [
    {
      "name": "收入",
      "id": "1"
    },
    {
      "name": "支出",
      "id": "2"
    },
    {
      "name": "阅读预算",
      "id": "3"
    },
    {
      "name": "转账",
      "id": "4"
    },
    {
      "name": "退款",
      "id": "5"
    },
    {
      "name": "对冲",
      "id": "6"
    },
    {
      "name": "初始额度",
      "id": "7"
    }
  ]