  [
    {
      "itemId": 49,
      "itemName": "充电宝",
      "itemCount": 10,
      "itemPrice": 120,
      "totalAmount": 1200
    },
    {
      "itemId": 49,
      "itemName": "充电宝",
      "itemCount": 10,
      "itemPrice": 120,
      "totalAmount": 1200
    }
  ]