  [
    {
      "_id": "55c70216b885773c7e604b0c",
      "__v": 0,
      "memberCount": 0,
      "creationTime": "2015-08-09T07:32:38.076Z",
      "creator": {
        "point": 1000,
        "nickname": "My Name",
        "_id": "55c6bc9f91d21b45400a7958"
      },
      "images": [
        "http://younion.oss-us-west-1.aliyuncs.com/6b765c7c-6dbc-4558-a87a-603b5e7ca33c/10507293772F22668BA1AE4A459528436BBC19B411.jpg",
        "http://younion.oss-us-west-1.aliyuncs.com/609798f3-787b-4b66-be3d-e5ddf782aa3e/1050729377FA3302D1FC26F794709A3F16B790D8EE.jpg"
      ],
      "location": {
        "geo": [
          104.085504,
          30.652117
        ]
      },
      "desc": "",
      "name": "开门",
      "stared": false
    },
    {
      "_id": "55c427d8e1453af207784a6b",
      "__v": 0,
      "memberCount": 0,
      "creationTime": "2015-08-07T03:36:56.398Z",
      "creator": {
        "point": 1000,
        "nickname": "XML",
        "_id": "55c3093d9fce22bd5f601db9"
      },
      "images": [
        "http://younion.oss-us-west-1.aliyuncs.com/http://img.xiaba.cvimage.cn/4d17f4c59e2ddd9705fa0900.jpg",
        "http://younion.oss-us-west-1.aliyuncs.com/http://img.xiaba.cvimage.cn/4d1852fd276cd9927e620500.jpg",
        "http://younion.oss-us-west-1.aliyuncs.com/http://img.xiaba.cvimage.cn/4d1856077749ffc57f9a0000.jpg"
      ],
      "location": {
        "geo": [
          34.234343,
          23.34323
        ]
      },
      "desc": "",
      "name": "TestChatroom21",
      "stared": false
    },
    {
      "_id": "55c427d5e1453af207784a6a",
      "__v": 0,
      "memberCount": 0,
      "creationTime": "2015-08-07T03:36:53.909Z",
      "creator": {
        "point": 1000,
        "nickname": "XML",
        "_id": "55c3093d9fce22bd5f601db9"
      },
      "images": [
        "http://younion.oss-us-west-1.aliyuncs.com/http://img.xiaba.cvimage.cn/4d17f4c59e2ddd9705fa0900.jpg",
        "http://younion.oss-us-west-1.aliyuncs.com/http://img.xiaba.cvimage.cn/4d1852fd276cd9927e620500.jpg",
        "http://younion.oss-us-west-1.aliyuncs.com/http://img.xiaba.cvimage.cn/4d1856077749ffc57f9a0000.jpg"
      ],
      "location": {
        "geo": [
          34.234343,
          23.34323
        ]
      },
      "desc": "",
      "name": "TestChatroom20",
      "stared": false
    }
  ]
