  {
    "_id": "55bf2cc6db98cfcf36084851",
    "creator": null,
    "__v": 0,
    "memberCount": 0,
    "creationTime": "2015-08-03T08:54:44.287Z",
    "images": [
      "http://img.xiaba.cvimage.cn/4d17f4c59e2ddd9705fa0900.jpg",
      "http://img.xiaba.cvimage.cn/4d1852fd276cd9927e620500.jpg",
      "http://img.xiaba.cvimage.cn/4d1856077749ffc57f9a0000.jpg"
    ],
    "location": {
      "geo": [
        34.234343,
        23.34323
      ]
    },
    "name": "TestChatroom5"
  }
