    {
      "id": 2,
      "uid": 1,
      "promoID": 2,
      "voucherAmount": 500,
      "supportAccumulate": true,
      "minOrderPrice": 3000,
      "createTime": 1453015574000,
      "expireTime": null,
      "useStatus": 1, //1未使用 2已使用 3使用中
      "usedTime": null,
      "vipOrderID": null
    }