  [
    {
      "id": 1,
      "type": 4,
      "typeName": "账户",
      "itemId": 5,
      "itemName": "备用金",
      "actionUid": 6,
      "actionUidName": "张三",
      "creationTime": 456789876
    },
    {
      "id": 2,
      "type": 4,
      "typeName": "账户",
      "itemId": 5,
      "itemName": "现金账户",
      "actionUid": 6,
      "actionUidName": "张三",
      "creationTime": 456789876
    }
  ]