  [
    {
      "id": 1,
      "uid": 2,
      "bookId": 3,
      "name": "一号库房",
      "comment": "库房备注",
      "creationTime": 2345678567
    },
    {
      "id": 2,
      "uid": 2,
      "bookId": 3,
      "name": "二号库房",
      "comment": "库房备注",
      "creationTime": 2345678567
    }
  ]