  [
    {
      "__v": 0,
      "_id": "55db062c662005da0cd4c71b",
      "msg": "This is another message from Kun Ran.",
      "chatroom": "55d085508f2f6279687361f1",
      "mentions": [
        "55bb7aa662a0c36435ad82ce"
      ],
      "creationTime": "2015-08-24T11:55:24.886Z",
      "creator": {
        "avatar": "",
        "nickname": "",
        "_id": "55c1cb6a2383077524436002"
      }
    },
    {
      "__v": 0,
      "_id": "55db062d662005da0cd4c71c",
      "msg": "This is another message from Kun Ran.",
      "chatroom": "55d085508f2f6279687361f1",
      "mentions": [
        "55bb7aa662a0c36435ad82ce"
      ],
      "creationTime": "2015-08-24T11:55:25.263Z",
      "creator": {
        "avatar": "",
        "nickname": "",
        "_id": "55c1cb6a2383077524436002"
      }
    },
    {
      "__v": 0,
      "_id": "55db062d662005da0cd4c71d",
      "msg": "This is another message from Kun Ran.",
      "chatroom": "55d085508f2f6279687361f1",
      "mentions": [
        "55bb7aa662a0c36435ad82ce"
      ],
      "creationTime": "2015-08-24T11:55:25.485Z",
      "creator": {
        "avatar": "",
        "nickname": "",
        "_id": "55c1cb6a2383077524436002"
      }
    },
    {
      "__v": 0,
      "_id": "55db0667662005da0cd4c71e",
      "msg": "two",
      "chatroom": "55d085538f2f6279687361f2",
      "mentions": [
        "55bb7aa662a0c36435ad82ce"
      ],
      "creationTime": "2015-08-24T11:56:23.114Z",
      "creator": {
        "avatar": "",
        "nickname": "",
        "_id": "55c1cb6a2383077524436002"
      }
    }
  ]
