  [
    {
      "id": 2,
      "uid": 4,
      "name": "2015年度账本",
      "nativeCurrency": "CNY",
      "financialYear": 2015,
      "comment": "账本描述",
      "creationTime": 5678976
    },
    {
      "id": 3,
      "uid": 4,
      "name": "2015年度小账本",
      "nativeCurrency": "CNY",
      "financialYear": 2015,
      "comment": "账本描述",
      "creationTime": 5678976
    }
  ]