  [
    {
      "_id": "55e703c4fc67b73d602d48be",
      "__v": 0,
      "creationTime": "2015-09-02T14:12:20.905Z",
      "creator": {
        "avatar": "http://younion.oss-us-west-1.aliyuncs.com/avatar/avatar.jpg",
        "nickname": "",
        "_id": "55dbe20e06bba73b35823d4d"
      },
      "images": [
        "http://younion.oss-us-west-1.aliyuncs.com/609798f3787b4b66be3de5ddf782aa3e/1050729377FA3302D1FC26F794709A3F16B790D8EE.jpg"
      ],
      "point": 0,
      "location": {
        "address": "TianQiao bei",
        "district": "Wuhou District",
        "city": "Chengdu",
        "country": "China",
        "geo": {
          "type": "Point",
          "coordinates": [
            104.0655733,
            30.6584759
          ]
        }
      },
      "desc": "This is a chatroom.",
      "name": "Jinhai International Garden",
      "stick": false,
      "memberCount": 1,
      "id": "55e703c4fc67b73d602d48be",
      "stared": false,
      "distance": 866
    },
    {
      "_id": "55e703c4fc67b73d602d48be",
      "__v": 0,
      "creationTime": "2015-09-02T14:12:20.905Z",
      "creator": {
        "avatar": "http://younion.oss-us-west-1.aliyuncs.com/avatar/avatar.jpg",
        "nickname": "",
        "_id": "55dbe20e06bba73b35823d4d"
      },
      "images": [
        "http://younion.oss-us-west-1.aliyuncs.com/609798f3787b4b66be3de5ddf782aa3e/1050729377FA3302D1FC26F794709A3F16B790D8EE.jpg"
      ],
      "point": 0,
      "location": {
        "address": "TianQiao bei",
        "district": "Wuhou District",
        "city": "Chengdu",
        "country": "China",
        "geo": {
          "type": "Point",
          "coordinates": [
            104.0655733,
            30.6584759
          ]
        }
      },
      "desc": "This is a chatroom.",
      "name": "Jinhai International Garden",
      "stick": false,
      "memberCount": 1,
      "id": "55e703c4fc67b73d602d48be",
      "stared": false,
      "distance": 866
    }
  ]
