  [
    {
      "id": "订单ID",
      "uid": 1,
      "vipLevel": 1,
      "startTime": 1234567890,
      "endTime": 1234567890,
      "totalPrice": 30000,
      "discounts": "使用的折扣列表，以|分割",
      "status": 2, //1.未支付 2.已支付生效
      "creationTime": 1234567890,
      "payTime": 1234567890
    },
    {
      "id": "订单ID",
      "uid": 1,
      "vipLevel": 1,
      "startTime": 1234567890,
      "endTime": 1234567890,
      "totalPrice": 30000,
      "discounts": "使用的折扣列表，以|分割",
      "status": 2, //1.未支付 2.已支付生效
      "creationTime": 1234567890,
      "payTime": 1234567890
    }
  ]