  {
    "totalPrice": 10000, //金额，单位为分
		//如果金额为0（使用了优惠券），那么订单会立即生效，无需再走支付流程
    "orderId": "订单号",
    "extendParams": {
      // 扩展参数，对于不同的支付平台，返回的实际字段会不一致
      "prepayId": "微信返回的prepay_id",
      "appId": "微信分配的公众账号ID",
      "mchId": "微信支付分配的商户号",
      "timestamp": "当前时间戳"
    }
  }