  {
    "amount": "金额，单位为分",
    "orderId": "订单号",
    "extendParams": {
      // 扩展参数，对于不同的支付平台，返回的实际字段会不一致
      "sign": "微信返回的签名",
      "prepayId": "微信返回的prepay_id",
      "nonceStr": "微信返回的随机字符串，目前不知道真正触发支付时是否需要这个字符串还是随机生成新的",
      "codeUrl": "微信返回的生成的二维码的URL",
      "appId": "微信分配的公众账号ID",
      "mchId": "微信支付分配的商户号",
      "timestamp": "当前时间戳"
    }
  }