  {
    "start": null,
    "until": null,
    "projects": [
      {
        "projectId": 1,
        "projectName": "好孩子教育项目",
        "income": 17100,
        "expense": -400,
        "netValue": 16700,
        "processed": false
      },
      {
        "projectId": 2,
        "projectName": "软件外包项目",
        "income": 1000,
        "expense": null,
        "netValue": 1000,
        "processed": false
      }
    ]
  }