  {
    "totalAmount": 600,
    "start": 1449060138150,
    "until": 1449060438150,
    "accounts": [
      {
        "id": 1,
        "accountName": "备用金",
        "accountType": 4,
        "currency": "CNY",
        "balance": 4567
      },
      {
        "id": 2,
        "accountName": "银行（对公）",
        "accountType": 3,
        "currency": "CNY",
        "balance": 234500
      }
    ]
  }