  {
    "totalAmount": 600,
    "start": 1449060138150,
    "until": 1449060438150,
    "expense": [
      {
        "inoutTypeId": 6,
        "inoutTypeName": "进货成本",
        "increase": 20000,
        "decrease": 200,
        "netValue": 19800
      },
      {
        "inoutTypeId": 7,
        "inoutTypeName": "运营费用",
        "increase": 200000,
        "decrease": 200,
        "netValue": 199800
      }
    ],
    "income": [
      {
        "inoutTypeId": 4,
        "inoutTypeName": "货物销售",
        "increase": 20000,
        "decrease": 200,
        "netValue": 19800
      },
      {
        "inoutTypeId": 5,
        "inoutTypeName": "项目交付",
        "increase": 200000,
        "decrease": 200,
        "netValue": 199800
      }
    ]
  }