  {
    "totalAmount": 600,
    "month": 10,
    "income": [
      {
        "typeId": 4,
        "typeName": "货物销售",
        "increase": 20000,
        "decrease": 200,
        "netValue": 19800
      },
      {
        "typeId": 5,
        "typeName": "项目交付",
        "increase": 200000,
        "decrease": 200,
        "netValue": 199800
      }
    ]
  }