  {
    "netAsset": 210000,
    "asset": 250000,
    "debit": 40000,
    "accounts": [
      {
        "accountId": 1,
        "accountName": "备用金",
        "balance": 10000
      },
      {
        "accountId": 2,
        "accountName": "固定资产",
        "balance": 200000
      }
    ],
    "debit": [
      {
        "accountId": 3,
        "accountName": "应付",
        "balance": 500
      },
      {
        "accountId": 4,
        "accountName": "预收",
        "balance": 200
      }
    ]
  }