  [
	/*
	 同一个用户可能有多个VIP级别，
	 例如：
		2016-1-1充值VIP1，12个月，到2017-1-1
		2016-3-1升级到VIP3，3个月，到2016-6-1
		那么，3-15查询此接口，应返回两段
		VIP3 2016-3-15 2016-6-1
		VIP1 2016-6-1  2017-1-1
		
		由于充值VIP不再指定开始时间（当前生效）
		而且只能往高级别的VIP升级
		所以，如果存在多个结果，那么时间肯定是连贯，而且VIP等级是减小的
		
		考虑做一个表格给用户展示，该用户的VIP到期状态
		如果仅仅是查当前用户的当前时刻的VIP等级，/users接口即可满足要求
	 */
    {
      "vipLevel": 3,
      "startTime": 20160101, //毫秒数
      "endTIme": 20160201
    },
    {
      "vipLevel": 2,
      "startTime": 20160201,
      "endTIme": 20160301
    },
    {
      "vipLevel": 1,
      "startTime": 20160301,
      "endTIme": 20160401
    }
  ]
  