  {
    "id": 1,
    "im": 567890,
    "wechat": "sdf678",
    "email": "ex@example.com",
    "phone": "18754678900",
    "avatarUrl": "/uuid/avatar.jpg",
    "name": "用户一号",
    "sex": 1,
    "birthday": 456789876,
    "vipLevel": 2,
    "defaultBookId": 1,
    "lastLoginTime": 567899876,
    "lastLoginIp": "112.112.33.22",
    "creationTime": 456789765,
    "updateTime": 56789876,
    "status": null
  }