  [
    {
      "_id": "55c071213a2d32da34a3fd09",
      "nickName": "Michael",
      "creationTime": 156003404,
      "email": "michael@college.edu",
      "avatar": "http://website.com/file.png",
      "school": "New York State University",
      "point": 1002,
      "sex": 1
    },
    {
      "_id": "55c071213a2d32da34a3fd09",
      "nickName": "Merry",
      "creationTime": 156003404,
      "email": "merry@college.edu",
      "avatar": "http://website.com/file.png",
      "school": "New York State University",
      "point": 1003,
      "sex": 2
    },
    {
      "_id": "55c071213a2d32da34a3fd09",
      "nickName": "Bob",
      "creationTime": 156003404,
      "email": "bob@college.edu",
      "avatar": "http://website.com/file.png",
      "school": "New York State University",
      "point": 1002,
      "sex": 1
    }
  ]
