#%RAML 0.8
---
title: Younion
#version: v0.1
baseUri: http://younion.me:3000
mediaType: application/json

documentation:
  - title: Contribution
    content: !include doc/contribution.md

traits:
  # 写操作成功
  - respWithoutPayload:
      responses:
        200:
          body:
            application/json:
              example: |
                {
                  "code": 1000,
                  "msg": "正常返回",
                  "palyoad": null
                }
  # 返回失败信息
  - respWithError:
      responses:
        200:
          body:
            application/json:
              schema: SimpleResponse
              example: |
                {
                  "code": <<errorCode>>,
                  "msg": "<<msg>>",
                  "palyoad": <<payload>>
                }
  # 接口响应中包含 data 字段
  - respWithPayload:
      responses:
        200:
          body:
            application/json:
              example: |
                {
                  "code": 1000,
                  "msg": "正常返回",
                  "payload": <<payload>>
                }
  # 接口响应的描述
  - responseDesc:
      responses:
        200:
          description: <<desc>>

/books:
  displayName: 账本操作
  /:
    post:
      description: 添加账本
      queryParameters:
        name:
          description: 账本名字
          required: true
        nativeCurrency:
          description: 账本币种，CNY, USD 等
        financialYear:
          description: 财务年度，年份数字，2015、2016等
          type: number
          default: 当前年份
          required: false
        comment:
          description: 备注，支持
      is:
        - responseDesc:
            desc: 添加成功
        - respWithoutPayload
  /{id}:
    get:
      description: 获取当前账本
      is:
        - responseDesc:
            desc:  返回账本信息
        - respWithPayload:
            payload: !include samples/book.sample
    put:
      description: 修改账本信息
      queryParameters:
        name:
          description: 账本名字
        comment:
          description: 备注，支持
      is:
        - responseDesc:
            desc: 更新成功
        - respWithoutPayload
    delete:
      description: 删除账本
      is:
        - responseDesc:
            desc: 删除成功
        - respWithoutPayload
/books/{id}/bookkeeping:
  displayName: 记账
  /income:
    post:
      description: 记收入
      queryParameters:
        inoutTypeId:
          type: number
          description: 收支类别 ID，是属于哪一个类别的收支？参考 收支类别的 ID
          required: true
        incomeAccountId:
          description: 收入账户
          type: number
          required: true
        amount:
          description: 收入的金额
          type: number
        tradeTime:
          description: 交易日期
          type: number
          required: true
        businessUnitId:
          description: 往来单位 ID
          type: number
        projectId:
          description: 相关项目 ID
          type: number
        staffId: 
          description: 经办人、员工 ID
          type: number
        departmentId:
          description: 部门 ID
          type: number
        comment:
          description: 备注内容
        attachmentUrl:
          description: 附件URL, 相对地址，文件的 Key
      is:
        - responseDesc:
            desc: 记录成功
        - respWithoutPayload
  /expense:
    post:
      description: 记支出
      queryParameters:
        inoutTypeId:
          type: number
          description: 收支类别 ID，是属于哪一个类别的收支？参考 收支类别的 ID
          required: true
        expenseAccountId:
          description: 支出账户
          type: number
          required: true
        amount:
          description: 支出的金额
          type: number
        tradeTime:
          description: 交易日期
          type: number
          required: true
        businessUnitId:
          description: 往来单位 ID
          type: number
        projectId:
          description: 相关项目 ID
          type: number
        staffId: 
          description: 经办人、员工 ID
          type: number
        departmentId:
          description: 部门 ID
          type: number
        comment:
          description: 备注内容
        attachmentUrl:
          description: 附件URL, 相对地址，文件的 Key
      is:
        - responseDesc:
            desc: 记录成功
        - respWithoutPayload
  /transfer:
    post:
      description: 记转账，资金调拨
      queryParameters:
        inoutTypeId:
          type: number
          description: 收支类别 ID，是属于哪一个类别的收支？参考 收支类别的 ID
          required: true
        incomeAccountId:
          description: 转入账户
          type: number
          required: true
        expenseAccountId:
          description: 转出账户
          type: number
          required: true
        amount:
          description: 转账金额
          type: number
        tradeTime:
          description: 交易日期
          type: number
          required: true
        businessUnitId:
          description: 往来单位 ID
          type: number
        projectId:
          description: 相关项目 ID
          type: number
        staffId: 
          description: 经办人、员工 ID
          type: number
        departmentId:
          description: 部门 ID
          type: number
        comment:
          description: 评论内容
        attachmentUrl:
          description: 附件URL, 相对地址，文件的 Key
      is:
        - responseDesc:
            desc: 记录成功
        - respWithoutPayload
  /begin:
    post:
      description: 记初始
      queryParameters:
        incomeAccountId:
          description: 要初始化的账户
          type: number
          required: true
        amount:
          description: 初始化的金额
          type: number
        tradeTime:
          description: 交易日期
          type: number
          required: true
        businessUnitId:
          description: 往来单位 ID
          type: number
        projectId:
          description: 相关项目 ID
          type: number
        staffId: 
          description: 经办人、员工 ID
          type: number
        departmentId:
          description: 部门 ID
          type: number
        comment:
          description: 评论内容
        attachmentUrl:
          description: 附件URL, 相对地址，文件的 Key
      is:
        - responseDesc:
            desc: 记录成功
        - respWithoutPayload
  /headging:
    post:
      description: 记对冲
      queryParameters:
        amount:
          description: 支出的金额
          type: number
        tradeTime:
          description: 交易日期
          type: number
          required: true
        businessUnitId:
          description: 往来单位 ID
          type: number
        payableId:
          description: 应付条目 ID
          type: number
        receivableid:
          description: 应收条目 ID
          type: number
        projectId:
          description: 相关项目 ID
          type: number
        staffId: 
          description: 经办人、员工 ID
          type: number
        departmentId:
          description: 部门 ID
          type: number
        comment:
          description: 备注内容
        attachmentUrl:
          description: 附件URL, 相对地址，文件的 Key
      is:
        - responseDesc:
            desc: 记录成功
        - respWithoutPayload
  /refund:
    post:
      description: 记退款
      queryParameters:
        inoutTypeId:
          type: number
          description: 收支类别 ID，是属于哪一个类别的收支？参考 收支类别的 ID
          required: true
        amount:
          description: 交易金额
          type: number
        tradeTime:
          description: 交易日期
          type: number
          required: true
        businessUnitId:
          description: 往来单位 ID
          type: number
        projectId:
          description: 相关项目 ID
          type: number
        staffId: 
          description: 经办人、员工 ID
          type: number
        departmentId:
          description: 部门 ID
          type: number
        comment:
          description: 备注内容
        attachmentUrl:
          description: 附件URL, 相对地址，文件的 Key
      is:
        - responseDesc:
            desc: 记录成功
        - respWithoutPayload
  /reconciliation:
    post:
      description: x - 对账
      queryParameters:
        inoutTypeId:
          type: number
          description: 收支类别 ID，是属于哪一个类别的收支？参考 收支类别的 ID
          required: true
        amount:
          description: 交易金额
          type: number
        tradeTime:
          description: 交易日期
          type: number
          required: true
        staffId: 
          description: 经办人、员工 ID
          type: number
        departmentId:
          description: 部门 ID
          type: number
        comment:
          description: 备注内容
        attachmentUrl:
          description: 附件URL, 相对地址，文件的 Key
      is:
        - responseDesc:
            desc: 记录成功
        - respWithoutPayload
/books/{id}/report:
  displayName: 报表
  /income:
    get:
      description: 获取收入报表
      queryParameters:
        start:
          description: 统计开始日期
          type: number
        until:
          description: 统计截至日期
          type: number
      is:
        - responseDesc:
            desc: 返回收入报表
        - respWithPayload:
            payload: !include samples/reportIncome.sample
  /expense:
    get:
      description: 获取支出报表
      queryParameters:
        start:
          description: 统计开始日期
          type: number
        until:
          description: 统计截至日期
          type: number
      is:
        - responseDesc:
            desc: 返回支出报表
        - respWithPayload:
            payload: !include samples/reportExpense.sample
  /profit:
    get:
      description: 获取利润报表
      queryParameters:
        start:
          description: 统计开始日期
          type: number
        until:
          description: 统计截至日期
          type: number
      is:
        - responseDesc:
            desc: 返回利润报表
        - respWithPayload:
            payload: !include samples/reportProfit.sample
  /cash:
    get:
      description: 获取现金流量报表
      queryParameters:
        start:
          description: 统计开始日期
          type: number
        until:
          description: 统计截至日期
          type: number
      is:
        - responseDesc:
            desc: 返回现金流量报表
        - respWithPayload:
            payload: !include samples/reportCash.sample
  /debit:
    get:
      description: 资产负债报表
      queryParameters:
        start:
          description: 统计开始日期
          type: number
        until:
          description: 统计截至日期
          type: number
      is:
        - responseDesc:
            desc: 返回负债报表
        - respWithPayload:
            payload: !include samples/reportCash.sample
  /accountBalance:
    get:
      description: 获取账户余额报表
      queryParameters:
        start:
          description: 统计开始日期
          type: number
        until:
          description: 统计截至日期
          type: number
      is:
        - responseDesc:
            desc: 返回账户余额报表
        - respWithPayload:
            payload: !include samples/reportAccountBalance.sample
/books/{id}/inventory:
  displayName: 库存
  /items:
    /:
      get:
        description: 获取货品列表
      post:
        description: 新增货品
    /{id}:
      get:
        description: 获取货品信息
      put:
        description: 货物调拨
  /storage:
    /:
      get:
        description: 获取库房列表
      post:
        description: 添加库房
    /{id}:
      get:
        description: 获取库房信息
      delete:
        description: 删除库房
      put:
        description: 更新库房信息
  /deliveryManifest:
    get:
      description: 出货单
      queryParameters:
        start:
          description: 统计开始日期
          type: number
        until:
          description: 统计截至日期
          type: number
        inventoryId:
          description: 指定仓库 ID
          type: number
        clientId:
          description: 客户 ID
          type: number
      is:
        - responseDesc:
            desc: 返回出货单
        - respWithPayload:
            payload: !include samples/inventoryDeliveryManifest.sample
  /itemsManifest:
    get:
      description: 明细单
      queryParameters:
        start:
          description: 指定统计开始日期
          type: number
        until:
          description: 指定统计截至日期
          type: number
        inventoryId:
          description: 指定仓库 ID
          type: number
        clientId:
          description: 客户 ID
          type: number
      is:
        - responseDesc:
            desc: 返回详情单
        - respWithPayload:
            payload: !include samples/inventoryItemsManifest.sample
  /assemble:
    post:
      description: 组装货物，拆分货物
      queryParameters:
        type:
          description: 1：组装货物、2：拆分货物
        fromItems:
          description: 输入货物列表, JSON 数组，在 JSON 中传的时候不用封装成字符串
          type: string
          example: !include samples/assembleItemList.sample
        toItems:
          description: 输出货物列表, JSON 数组，在 JSON 中传的时候不用封装成字符串
          type: string
          example: !include samples/assembleItemList.sample
        comment:
          description: 备注
        activityTime:
          description: 活动发生的时间
        storageId:
          description: 库房 ID
  /inout:
    post:
      description: 进货出货
      queryParameters:
        businessUnitId:
          description: 往来单位
        activityTime:
          description: 活动发生的时间
        incomeAccountId:
          description: 收款账户
        expenseAccountId:
          description: 付款账户
        storageId:
          description: 仓库 ID
        projectId:
          description: 项目 ID
        staffId:
          description: 经办人、员工 ID
        departmentId:
          description: 部门 ID
        totalAmount:
          description: 总价
        comment:
          description: 备注
        items:
          description: 货物列表, JSON 数组
          type: string
          example: !include samples/assembleItemList.sample
  /purchase:
    post:
      description: 采购进货
  /purchaseReturn:
    post:
      description: 采购退货
  /sell:
    post:
      description: 销售出货
  /sellReturn:
    post:
      description: 销售退货
  /borrowingSale:
    post:
      description: 借货销售
  /transferItem:
    post:
      description: 货物调拨
  /adjustPrice:
    put:
      description: 货物调价
  /review:
    get:
      description: 盘点库存
  /costTransfer:
    post:
      description: 成本结转
