#%RAML 0.8
---
title: Touchat
#version: v0.1
baseUri: http://api.touchat.cn
mediaType: application/json

documentation:
  - title: Getting Started
    content: !include doc/touchat-getting-started.md
  - title: Cookie
    content: !include doc/touchat-cookie.md
  - title: Response
    content: !include doc/touchat-response.md

schemas:
  - SimpleResponse: !include schemas/simple-response.schema.json

traits:
  # 写操作成功
  - respWithoutPayload:
      responses:
        200:
          body:
            application/json:
              example: |
                {
                  "code": 1000,
                  "msg": "正常返回",
                  "palyoad": null
                }
  # 写操作成功
  - respWithError:
      responses:
        200:
          body:
            application/json:
              schema: SimpleResponse
              example: |
                {
                  "code": <<errorCode>>,
                  "msg": "<<msg>>",
                  "palyoad": <<payload>>
                }
  # 接口响应中包含 data 字段
  - respWithPayload:
      responses:
        200:
          body:
            application/json:
              example: |
                {
                  "code": 1000,
                  "msg": "正常返回",
                  "payload": <<payload>>
                }
  # 接口响应的描述
  - responseDesc:
      responses:
        200:
          description: <<desc>>
  - paged:
      queryParameters:
        page:
          type: integer
          required: false
        pageSize:
          type: integer
          required: false
      responses:
        200:
          body:
            application/json:
              example: |
                {
                  "code": 0,
                  "data": {
                    "page": 1,
                    "pageSize": 100,
                    "totalPage": 1,
                    "totalRow": 2,
                    "list": <<exampleList>>
                  }
                }
